@import "bootstrap/main";
@import 'variables/colors.scss';
@import 'components/table_of_contents.scss';

html,
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

body {
  margin: 0;
}
